.idea/
*/**/__pycache__/
worldcup.json
nb_data.json
hfihu_data.json
sa_data.json
data_part/worldcup.json.008
data_part/worldcup.json.007
data_part/worldcup.json.006
data_part/worldcup.json.005
data_part/worldcup.json.004
data_part/worldcup.json.003
data_part/worldcup.json.002
data_part/worldcup.json.001
nb_train.json
hfihu_train.json
_worldcup.json
test.json
